@import '~bootstrap/scss/bootstrap.scss';

.body-container{
    display: flex;
    flex-direction: column;
}

.getinvolvedcal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.getinvolvedcal div{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.getinvolved div h3{
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

.getinvolvedcal div p{
    color: #111111;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}
#schedule-title{
    text-align: center;
}

.card-title{
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

.card-text{
    color: #111111;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}
