@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#logo img{
    width: 38.95px;
    height: 50.53px
}

#HeaderTitle{
    color: #152536;
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.is-active{
    background-color:  #2A936D;
}
#space{
    margin: 8px;
}