.card{
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: auto;
}
h1{
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image{
    width:auto;
    text-align:center;
    padding:20px;
}

.form-group{
    margin-bottom: 10px;
    
}
.form-control{
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: auto; 
}
.confirm{
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: auto; 
    
}
.btn btn-primary{
    background-color: rgba(42, 147, 109, 1);
}