@import '~bootstrap/scss/bootstrap.scss';

.card{
    
   width: 200px;
   margin-bottom: 10px;
   display: flex;    
   flex-direction: row;        
    }
    
.addNew{    
    text-align: right;
}
link {
    color: #2A936D;
}
#delete{
    margin-bottom: 10px;
    align-items: right;
}